{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
  <div class="container">

    
    <div class="card m-5 p-5 shadow p-3 mb-5 bg-white rounded">
      <h5 class="card-header">{% trans "Sign Up" %}</h5>
      <div class="cardbody m-2 p-2">
        <h5 class="card-title">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</h5>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <small style="color: red;">{{error}}</small><br>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <small style="color: red;">{{error}}</small>     <br>    
            {% endfor %}
            <br>
          {% endif %}
          <div class="form-group">  
            <strong> E-mail Address* </strong>                          
            <div class="controls">
              {{ form.email|attr:"class:form-control"|attr:"placeholder:name@example.com"|attr:"type:email" }} 
            </div>
          </div>
          <div class="form-group">  
            <strong> Username* </strong>                          
            <div class="controls">
              {{ form.username|attr:"class:form-control"|attr:"type:text"}} 
            </div>
          </div>
          <div class="form-group">  
            <strong> First Name* </strong>                          
            <div class="controls">
              {{ form.first_name|attr:"class:form-control"|attr:"type:text"|attr:"autofocus:autofocus" }} 
            </div>
          </div>
          <div class="form-group">  
            <strong> Last Name* </strong>                          
            <div class="controls">
              {{ form.last_name|attr:"class:form-control"|attr:"type:text"|attr:"autofocus:autofocus" }} 
            </div>
          </div> 
          <div class="form-group">  
            <strong>Password* </strong>                          
            <div class="controls">
              {{ form.password1|attr:"class:form-control"|attr:"type:password"|attr:"autofocus:autofocus" }} 
            </div>
          </div>
          <div class="form-group">  
            <strong>Confirm Password* </strong>                          
            <div class="controls">
              {{ form.password2|attr:"class:form-control"|attr:"type:password"|attr:"autofocus:autofocus" }} 
            </div>
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class='btn btn-primary mt-2 mb-2' type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
        </div>
      
    </div>
  </div>

{% endblock %}
