{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
    <h2>Create a Blog.</h2>
    <div class="card">
        <div class="cardbody m-4 p-2">
            <form id="post_form" method="POST" action="" enctype="multipart/form-data">

                {% csrf_token %}
                {% for hidden in postform.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="form-group">
                    Title: {{postform.title|attr:"class:form-control"}}
                    <br>
                    Content: {{postform.content|attr:"class:form-control"}}
                    <br>
                    Category that best describes your blog.
                    {{postform.category}}
                
                    {{ formset.management_form }}
                    <br>
                    <p class="lead">Maximum 3 photos can be posted.</p>
                    <div class="">
                        {% for form in formset %}
                            {{ form }}
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" name="submit" value="Post" />
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}