{% extends 'base.html' %}
{% load static %}

{% block head_title %}Humane|Home{% endblock %}
	{% block extra_head %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	{% endblock %}
    {% block content %}
	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="banner_content">
					<p class="upper_text">Give a hand</p>
					<h2>to make the better world</h2>
					<p>
We aim at making this world a happier place to live in. where one can express ourselfwithout the fear of any judgement.all can live with harmony and peace with each other.
					</p>

				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area section_gap overlay">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<h1>Become a volunteer</h1>
					<p>
						just try to be the part of the change.
					</p>
					<a href="#" class="primary_btn yellow_btn rounded">Contact us</a>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->


	<!--================ Start footer Area  =================-->
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets text-white">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								We aim at making this world a happier place to live in. where one can express ourselfwithout the fear of any judgement.all can live with harmony and peace with each other.
							</p>
							<p>
								Because we are humane
							</p>
						</div>
					</div>

					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p class="text-white">Chandigharh university,punjab</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p class="text-white">
									+91 7428757734

								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p class="text-white">
									humane4humanity@gmail.com

								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">

				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->
	{% endblock %}
	{% block extra_scripts %}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
		<script src="{% static 'js/gmaps.min.js' %}"></script>
		<script src="{% static 'js/theme.js' %}"></script>
	{% endblock %}
