{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% load widget_tweaks %}

    {% block content %}
    <div class="container mt-3 mb-3">
        <div class="card m-5 p-5 shadow p-3 mb-5 bg-white rounded">
            <h4 class="card-header">Submit your confession.</h4>

            <div class="cardbody m-4 p-2">
                
                <form id="post_form" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}       
                    <div class="form-group">
                        <label for="category">Category*</label>
                        {{ form.category|attr:"class:form-control"|attr:"type:select"|attr:"name:category"|attr:"readonly"}}
                    </div> 
                    <div class="form-group">
                        <label for="Title">Title</label>
                        {{ form.title|attr:"class:form-control"|attr:"type:text"}}
                        <small id="titleHelp" class="form-text text-muted">You can leave it blank.</small>

                    </div> 
                    
                    <div class="form-group">
                        <label for="description">Content*</label>
                        {{ form.content|attr:"class:form-control"|attr:"type:text"}}
                    </div>     
                    <div class="form-group">
                        <label for="exampleInputdisplayname">Display name</label>
                        {{form.display_name|attr:"class:form-control"|attr:"type:text"}}
                        <small id="emailHelp" class="form-text text-muted">You can reveal your real name or use any fake name or also leave it blank.</small>
                      </div>   
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>

    {% endblock %}